@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #6d28d9;
  --primary-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #8b5cf6;
    --primary-foreground: #171717;
  }
}

body {
  @apply bg-background text-foreground;
  font-family: var(--font-geist-sans);
}

.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}
